version: '3.9'
services:
  mongo:
    image: mongo:7
    ports: ['27017:27017']
    volumes: [mongo-data:/data/db]
  api:
    build: ./server
    command: npm start
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/phone_shop
      - JWT_SECRET=please_change
      - CLIENT_URL=http://localhost:5173
      - COOKIE_NAME=jwt
    ports: ['5000:5000']
    depends_on: [mongo]
  web:
    build: ./client
    command: npm run preview -- --port 5173
    ports: ['5173:5173']
    depends_on: [api]
volumes:
  mongo-data:
